In [7]:
import pandas as pd

In [2]:
# df = pd.read_csv('/home/hp/fifa21_raw_data.csv')

/tmp/ipykernel_10537/2697469780.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/hp/fifa21_raw_data.csv')

In [68]:
def load_data():
    df = pd.read_csv('/home/hp/fifa21_raw_data.csv', low_memory=False)
    return df

In [69]:
# try to understand our data sets to at columns 
load_data()['Release Clause']

0        €138.4M
1         €75.9M
2        €159.4M
3          €161M
4        €166.5M
          ...
18974       €57K
18975      €165K
18976       €70K
18977      €165K
18978      €167K
Name: Release Clause, Length: 18979, dtype: object

In [109]:
def clean_data(data):
    # Convert string values into numerical values
    data['Height'] = data['Height'].apply(lambda x: x.replace("'", "").replace('"', "")).astype(float)
    data['Weight'] = data['Weight'].apply(lambda x: x.replace("lbs", "")).astype(int) 
    # convert columns to datetime
    data['Joined'] = pd.to_datetime(data['Joined'], errors='coerce')
    # convert Wage and Value int 
    def convert_value(val):
        val = val.replace("€", "").strip()
        if "M" in val:
            val = float(val.replace("M", "")) * 1_000_000
        elif "K" in val:
            val = float(val.replace("K", "")) * 1_000
        return float(val)
    data['Value'] = data['Value'].apply(convert_value)
    data['Wage'] = [int(x.replace("€", "").replace("K", "")) * 1_000 for x in data['Wage']]
    data['Team & Contract'] = data['Team & Contract'].apply(lambda x: x.replace("\n", " ").strip())
    data['Hits'] = data['Hits'].apply(lambda x: x.replace("K", "").strip()).astype(float)
    # convert release and clause columns 
    data['Release Clause'] = [ float(x.replace('€', '').replace('K', '')) * 1_000 if "K" in x else
                              float(x.replace('€', '').replace('M', '')) * 1_000_000 if "M" in x else 0
                              for x in data['Release Clause']]
    return data

In [110]:
# run pipeline

raw_data = load_data()
claned_data = clean_data(raw_data)

In [111]:
claned_data['Hits']

0        372.0
1        344.0
2         86.0
3        163.0
4        273.0
         ...
18974      2.0
18975      3.0
18976      3.0
18977      5.0
18978      2.0
Name: Hits, Length: 18979, dtype: float64

True