## Kaggle API

In [2]:
# import kaggle
# kaggle.api.authenticate()

In [3]:
# kaggle.api.dataset_download_files('yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring', path="/home/hp", unzip=True)

In [4]:
import pandas as pd 
pd.set_option('display.max_columns', None)

In [5]:
df = pd.read_csv('/home/hp/fifa21_raw_data.csv')

/tmp/ipykernel_50957/2697469780.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/hp/fifa21_raw_data.csv')

In [6]:
df['Height'].head(10)

0     5'7"
1     6'2"
2     6'2"
3    5'11"
4     5'9"
5     6'0"
6    5'10"
7     6'3"
8     5'9"
9     5'9"
Name: Height, dtype: object

In [7]:
# we notice that the Height and the weight columns is object data type 
df[['Height', 'Weight']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  18979 non-null  object
 1   Weight  18979 non-null  object
dtypes: object(2)
memory usage: 296.7+ KB

In [8]:
# pd.DataFrame(df[['Height', 'Weight']])
# check if there is a duplicated value 
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
18974    False
18975    False
18976    False
18977    False
18978    False
Length: 18979, dtype: bool

In [9]:
# check the data type of each columns and try to covert them into the right data type if there is a misstyping 

df[['Height']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  18979 non-null  object
dtypes: object(1)
memory usage: 148.4+ KB

In [10]:
df[['Height', 'Weight']].head(10)

  Height  Weight
0   5'7"  159lbs
1   6'2"  183lbs
2   6'2"  192lbs
3  5'11"  154lbs
4   5'9"  150lbs
5   6'0"  176lbs
6  5'10"  161lbs
7   6'3"  201lbs
8   5'9"  157lbs
9   5'9"  152lbs

In [11]:
# # transform Height columns into float data types 
# for i in df['Height']:
#     df['Height'] = i.replace("'", ".").replace('"', "")
df['Height'] = [i.replace("'", ".").replace('"', "") for i in df['Height']]

In [12]:
# check if we acheive the right results
df[["Height"]]

      Height
0        5.7
1        6.2
2        6.2
3       5.11
4        5.9
...      ...
18974   5.10
18975    5.7
18976   5.10
18977    5.9
18978    5.9

[18979 rows x 1 columns]

In [13]:
df['Height'] = df['Height'].astype(float)

In [14]:
df['Weight']

0        159lbs
1        183lbs
2        192lbs
3        154lbs
4        150lbs
          ...
18974    154lbs
18975    128lbs
18976    146lbs
18977    143lbs
18978    150lbs
Name: Weight, Length: 18979, dtype: object

In [15]:
# repace the Weight columns with right data types 
df['Weight'] = df['Weight'].str.replace("lbs", "").astype(int)

In [16]:
df[['Height', 'Weight']]

       Height  Weight
0        5.70     159
1        6.20     183
2        6.20     192
3        5.11     154
4        5.90     150
...       ...     ...
18974    5.10     154
18975    5.70     128
18976    5.10     146
18977    5.90     143
18978    5.90     150

[18979 rows x 2 columns]

In [17]:
# check if its the proper data type 
df[['Weight']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Weight  18979 non-null  int64
dtypes: int64(1)
memory usage: 148.4 KB

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   â†“OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  float64
 12  Weight            18979 non-null  int64
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: float64(1), int64(56), object(20)
memory usage: 11.1+ MB

In [19]:
df['Height'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 18979 entries, 0 to 18978
Series name: Height
Non-Null Count  Dtype
--------------  -----
18979 non-null  float64
dtypes: float64(1)
memory usage: 148.4 KB

# separate Joined columns into month, year and days

In [20]:
df[["Joined"]]

             Joined
0       Jul 1, 2004
1      Jul 10, 2018
2      Jul 16, 2014
3      Aug 30, 2015
4       Aug 3, 2017
...             ...
18974   Aug 1, 2020
18975   Aug 1, 2020
18976  Jul 13, 2018
18977   Aug 1, 2020
18978   Jan 1, 2020

[18979 rows x 1 columns]

In [21]:
# for i in df["Joined"]:
#     month, day, year = i.split()
    
# df['Month'] = [i for i in month]
# df['Day'] = [i for i in day]
# df['Year'] = [i for i in year]
df['Month'] = [i.split()[0] for i in df['Joined']]
df['Day'] = [i.split()[1].replace(",", "") for i in df['Joined']]
df['Year'] = [i.split()[2] for i in df['Joined']]

In [22]:
df[['Day', 'Year']] = df[['Day', 'Year']].astype(int)

In [23]:
df[['Day', 'Year', 'Month']].head(10)

   Day  Year Month
0    1  2004   Jul
1   10  2018   Jul
2   16  2014   Jul
3   30  2015   Aug
4    3  2017   Aug
5    1  2014   Jul
6    1  2018   Jul
7   19  2018   Jul
8    1  2017   Jul
9    1  2016   Jul

In [24]:
df[['Day', 'Year']] = df[['Day', 'Year']].astype(int)

In [25]:
df[['Day', 'Year']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     18979 non-null  int64
 1   Year    18979 non-null  int64
dtypes: int64(2)
memory usage: 296.7 KB

In [26]:
#  check if we reash the results 
df[['Day', 'Year']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     18979 non-null  int64
 1   Year    18979 non-null  int64
dtypes: int64(2)
memory usage: 296.7 KB

## Clean and transform the value, wage and release clause columns of int

In [27]:
df[['Wage', 'Value']].head(10)

    Wage    Value
0  â‚¬560K   â‚¬67.5M
1  â‚¬220K     â‚¬46M
2  â‚¬125K     â‚¬75M
3  â‚¬370K     â‚¬87M
4  â‚¬270K     â‚¬90M
5  â‚¬240K     â‚¬80M
6  â‚¬160K  â‚¬105.5M
7  â‚¬160K   â‚¬62.5M
8  â‚¬250K     â‚¬78M
9  â‚¬250K     â‚¬78M

In [28]:
df['Wage'] = [i.replace("K", "").replace("â‚¬", "") for i in df['Wage']]

In [29]:
df['Wage'] = df['Wage'].astype(int)

In [30]:
df[['Wage']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Wage    18979 non-null  int64
dtypes: int64(1)
memory usage: 148.4 KB

In [31]:
df[['Wage']].head(5)

   Wage
0   560
1   220
2   125
3   370
4   270

In [32]:
# # # for i in df['Wage']:
# # #     df['Wage'] = int(i.replace("â‚¬", "").replace("K", "")) * 1_000
# # #     pass

# # df['Wage'] = [i.replace("â‚¬", "").replace("K", "") for i in df['Wage'] * 1_000]
# # df['Value'] = [i.replace("â‚¬", "").replace("M", "") for i in df['Value']]
# for i in df['Value']:
#     check_for_val = i.find("K")
#     count = 1
#     result = 1
#     while (check_for_val != -1):
#         count += 1
#         result += 1
# print(f"the sum of all M words are {result}")
# for i in df['Value']:
#     m_val = i.find('K')
#     if m_val == -1:
#         df['Value'] = i.replace("â‚¬", "").replace("M", "")
#     elif m_val:
#         df['Value'] = i.replace("â‚¬", "").replace("K", "")
        
# df['Value'] = [i.replace("M", "").replace("â‚¬", "") for i in df['Value'] if i.find("K") == -1]
# df['Value'] = [i.replace("M", "").replace("â‚¬", "") for i in [j.replae("â‚¬","").replace("K", "") for j in df['Value'] if j.find("K")] if i.find("K") == -1]
df['Value'] = [
    float(i.replace("M", "")) * 1_000_000 if "M" in i else float(i.replace("K", "")) * 1_000
    for i in df['Value'].str.replace("â‚¬", "")
]

In [33]:
df[['Value', 'Wage']]

            Value  Wage
0      67500000.0   560
1      46000000.0   220
2      75000000.0   125
3      87000000.0   370
4      90000000.0   270
...           ...   ...
18974     35000.0     1
18975     60000.0   500
18976     40000.0     1
18977     60000.0   500
18978     60000.0   500

[18979 rows x 2 columns]

In [37]:
# for i in df['Value']:
#     print(i)

df[['Wage', 'Value']]

       Wage       Value
0       560  67500000.0
1       220  46000000.0
2       125  75000000.0
3       370  87000000.0
4       270  90000000.0
...     ...         ...
18974     1     35000.0
18975   500     60000.0
18976     1     40000.0
18977   500     60000.0
18978   500     60000.0

[18979 rows x 2 columns]

In [35]:
df[['Wage', 'Value']].head()

   Wage       Value
0   560  67500000.0
1   220  46000000.0
2   125  75000000.0
3   370  87000000.0
4   270  90000000.0

## separate Team & Contract into a single columns

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 80 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   â†“OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  float64
 12  Weight            18979 non-null  int64
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  float64
 20  Wage              18979 non-null  int64
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
 77  Month             18979 non-null  object
 78  Day               18979 non-null  int64
 79  Year              18979 non-null  int64
dtypes: float64(2), int64(59), object(19)
memory usage: 11.6+ MB

In [56]:
# for i in df['Team & Contract']:
#     print(i.split())
#     pass
# df[['Team & Contract']].head(5)
# df[['Name', 'Shot Power', 'Mentality', 'Finishing', 'Age']].head(10)
df[['Team & Contract']].head(10)
df['Team & Contract'] = [i.strip() for i in df['Team & Contract']]

## Remove Excessive Newline Characters from the Team & Contract Data

In [61]:
df['Team & Contract'] = [i.replace("\n", " ") for i in df['Team & Contract']]

In [77]:
df[['Team & Contract']].head(10)

                   Team & Contract
0         FC Barcelona 2004 ~ 2021
1             Juventus 2018 ~ 2022
2      AtlÃ©tico Madrid 2014 ~ 2023
3      Manchester City 2015 ~ 2023
4  Paris Saint-Germain 2017 ~ 2022
5    FC Bayern MÃ¼nchen 2014 ~ 2023
6  Paris Saint-Germain 2018 ~ 2022
7            Liverpool 2018 ~ 2024
8            Liverpool 2017 ~ 2023
9            Liverpool 2016 ~ 2023

In [99]:
[i.rsplit(",", 2)[0] for i in df['Team & Contract']]

['FC Barcelona 2004 ~ 2021',
 'Juventus 2018 ~ 2022',
 'AtlÃ©tico Madrid 2014 ~ 2023',
 'Manchester City 2015 ~ 2023',
 'Paris Saint-Germain 2017 ~ 2022',
 'FC Bayern MÃ¼nchen 2014 ~ 2023',
 'Paris Saint-Germain 2018 ~ 2022',
 'Liverpool 2018 ~ 2024',
 'Liverpool 2017 ~ 2023',
 'Liverpool 2016 ~ 2023',
 'Liverpool 2018 ~ 2023',
 'FC Barcelona 2014 ~ 2022',
 'Real Madrid 2013 ~ 2023',
 'Real Madrid 2018 ~ 2024',
 'FC Bayern MÃ¼nchen 2011 ~ 2023',
 'Real Madrid 2009 ~ 2022',
 'Real Madrid 2005 ~ 2021',
 'Manchester City 2011 ~ 2021',
 'Chelsea 2016 ~ 2023',
 'FC Bayern MÃ¼nchen 2015 ~ 2023',
 'Juventus 2015 ~ 2022',
 'Manchester City 2017 ~ 2024',
 'Manchester City 2015 ~ 2023',
 'Tottenham Hotspur 2010 ~ 2024',
 'Napoli 2014 ~ 2023',
 'Real Madrid 2019 ~ 2024',
 'Real Madrid 2014 ~ 2023',
 'Inter 2012 ~ 2021',
 'Borussia Dortmund 2017 ~ 2023',
 'Liverpool 2015 ~ 2024',
 'Manchester City 2017 ~ 2025',
 'Liverpool 2017 ~ 2024',
 'Manchester City 2018 ~ 2024',
 'Manchester United 2020 ~ 2025',
 'Liverpool 2018 ~ 2023',
 'Liverpool 2015 ~ 2023',
 'Tottenham Hotspur 2015 ~ 2023',
 'FC Barcelona 2019 ~ 2024',
 'Paris Saint-Germain 2019 ~ 2023',
 'Lazio 2016 ~ 2025',
 'FC Barcelona 2008 ~ 2023',
 'Arsenal 2018 ~ 2023',
 'Juventus 2017 ~ 2024',
 'Paris Saint-Germain 2015 ~ 2021',
 'Real Madrid 2012 ~ 2021',
 'AtlÃ©tico Madrid 2020 ~ 2022',
 'Tottenham Hotspur 2012 ~ 2022',
 'Juventus 2005 ~ 2021',
 'Leicester City 2012 ~ 2023',
 'Real Madrid 2013 ~ 2022',
 'Real Madrid 2011 ~ 2022',
 'Paris Saint-Germain 2012 ~ 2024',
 'Manchester United 2016 ~ 2021',
 'Manchester United 2011 ~ 2023',
 'FC Bayern MÃ¼nchen 2008 ~ 2023',
 'FC Barcelona 2012 ~ 2024',
 'Liverpool 2011 ~ 2023',
 'Borussia Dortmund 2019 ~ 2022',
 'Borussia MÃ¶nchengladbach 2014 ~ 2023',
 'Real Sociedad 2020 ~ 2022',
 'FC Barcelona 2008 ~ 2022',
 'Atalanta 2014 ~ 2022',
 'Chelsea 2020 ~ 2025',
 'Juventus 2019 ~ 2024',
 'Inter 2017 ~ 2023',
 'Manchester City 2019 ~ 2024',
 'Manchester United 2014 ~ 2023',
 'Milan 2015 ~ 2021',
 'FC Barcelona 2019 ~ 2024',
 'Lazio 2015 ~ 2024',
 'FC Bayern MÃ¼nchen 2020 ~ 2025',
 'FC Barcelona 2018 ~ 2023',
 'Chelsea 2020 ~ 2025',
 'Leicester City 2018 ~ 2023',
 'Chelsea 2020 ~ 2025',
 'Paris Saint-Germain 2013 ~ 2024',
 'FC Bayern MÃ¼nchen 2017 ~ 2023',
 'Manchester City 2018 ~ 2023',
 'Olympique Lyonnais 2017 ~ 2021',
 'Paris Saint-Germain 2020 ~ 2024',
 'Lazio 2016 ~ 2025',
 'Napoli 2010 ~ 2022',
 'AtlÃ©tico Madrid 2011 ~ 2024',
 'Arsenal 2018 ~ 2023',
 'Inter 2019 ~ 2024',
 'Juventus 2015 ~ 2023',
 'Inter 2020 ~ 2024',
 'Villarreal CF 2020 ~ 2024',
 'Liverpool 2020 ~ 2024',
 'Manchester City 2017 ~ 2024',
 'Borussia Dortmund 2012 ~ 2023',
 'RB Leipzig 2015 ~ 2023',
 'Juventus 2018 ~ 2024',
 'Tottenham Hotspur 2015 ~ 2023',
 'Cagliari 2020 ~ 2023',
 'Liverpool 2016 ~ 2021',
 'FC Barcelona 2020 ~ 2024',
 'Napoli 2013 ~ 2022',
 'Chelsea 2020 ~ 2021',
 'Borussia Dortmund 2020 ~ 2024',
 'Inter 2018 ~ 2023',
 'Juventus 2020 ~ 2024',
 'Real Sociedad 2014 ~ 2024',
 'Leicester City 2017 ~ 2024',
 'Ajax 2015 ~ 2022',
 'AtlÃ©tico Madrid 2013 ~ 2023',
 'Inter 2016 ~ 2022',
 'FC Bayern MÃ¼nchen 2015 ~ 2023',
 'Manchester United 2020 ~ 2024',
 'Borussia Dortmund 2019 ~ 2024',
 'FC Bayern MÃ¼nchen 2017 ~ 2022',
 'Manchester United 2015 ~ 2024',
 'Ajax 2018 ~ 2022',
 'SL Benfica 2016 ~ 2023',
 'Arsenal 2020 ~ 2024',
 'Borussia Dortmund 2016 ~ 2023',
 'FC Bayern MÃ¼nchen 2018 ~ 2022',
 'AtlÃ©tico Madrid 2013 ~ 2026',
 'AtlÃ©tico Madrid 2019 ~ 2022',
 'Wolverhampton Wanderers 2019 ~ 2024',
 'Atalanta 2017 ~ 2022',
 'Everton 2018 ~ 2023',
 'AS Monaco 2019 ~ 2024',
 'Inter 2018 ~ 2023',
 'SL Benfica 2013 ~ 2023',
 'Real Madrid 2013 ~ 2022',
 'FC Bayern MÃ¼nchen 2010 ~ 2021',
 'Paris Saint-Germain 2019 ~ 2023',
 'FC Porto 2015 ~ 2022',
 'RC Celta 2015 ~ 2023',
 'FC Bayern MÃ¼nchen 2018 ~ 2022',
 'Borussia Dortmund 2015 ~ 2023',
 'Fiorentina 2020 ~ 2022',
 'Chelsea 2012 ~ 2022',
 'Manchester United 2020 ~ 2021',
 'Wolverhampton Wanderers 2018 ~ 2022',
 'Borussia Dortmund 2018 ~ 2022',
 'Lazio 2017 ~ 2022',
 'Torino 2017 ~ 2022',
 'Leicester City 2011 ~ 2023',
 'Sevilla FC 2017 ~ 2021',
 'Manchester City 2013 ~ 2021',
 'Real Madrid 2016 ~ 2025',
 'Inter 2020 ~ 2025',
 'FC Barcelona 2017 ~ 2022',
 'Manchester City 2016 ~ 2023',
 'GrÃªmio 2019 ~ 2023',
 'Manchester United 2019 ~ 2024',
 'Borussia MÃ¶nchengladbach 2017 ~ 2022',
 'Real Madrid 2019 ~ 2025',
 'Wolverhampton Wanderers 2020 ~ 2023',
 'Tottenham Hotspur 2020 ~ 2025',
 'Liverpool 2015 ~ 2024',
 'Sevilla FC 2020 ~ 2024',
 'Real Madrid 2015 ~ 2023',
 'Manchester United 2020 ~ 2025',
 'Roma 2019 ~ 2024',
 'Newcastle United 2018 ~ 2025',
 'Sevilla FC 2019 ~ 2024',
 'Real Betis 2019 ~ 2023',
 'SL Benfica 2016 ~ 2024',
 'Atalanta 2020 ~ 2023',
 'Lazio 2012 ~ 2022',
 'Valencia CF 2012 ~ 2023',
 'Tottenham Hotspur 2015 ~ 2024',
 'Manchester City 2019 ~ 2025',
 'Milan 2015 ~ 2022',
 'Eintracht Frankfurt 2019 ~ 2023',
 'Villarreal CF 2018 ~ 2023',
 'Chelsea 2019 ~ 2024',
 'Medipol BaÅŸakÅŸehir FK 2011 ~ 2021',
 'FC Barcelona 2016 ~ 2023',
 'Chelsea 2018 ~ 2023',
 'Real Sociedad 2019 ~ 2024',
 'Paris Saint-Germain 2018 ~ 2021',
 'RB Leipzig 2014 ~ 2022',
 'Borussia Dortmund 2019 ~ 2024',
 'Tottenham Hotspur 2018 ~ 2024',
 'Everton 2020 ~ 2023',
 'Lazio 2018 ~ 2023',
 'FC Barcelona 2013 ~ 2022',
 'Olympique Lyonnais 2011 ~ 2023',
 'Ajax 2018 ~ 2023',
 'Bayer 04 Leverkusen 2015 ~ 2023',
 'Crystal Palace 2015 ~ 2023',
 'Liverpool 2016 ~ 2024',
 'Levante UD 2018 ~ 2023',
 'Arsenal 2017 ~ 2022',
 'VfL Wolfsburg 2015 ~ 2024',
 'Napoli 2019 ~ 2024',
 'Bayer 04 Leverkusen 2018 ~ 2023',
 'Athletic Club de Bilbao 2009 ~ 2024',
 'FC Barcelona 2018 ~ 2023',
 'Eintracht Frankfurt 2019 ~ 2024',
 'Shanghai SIPG FC 2017 ~ 2024',
 'Guangzhou Evergrande Taobao FC 2019 ~ 2023',
 'Manchester City 2016 ~ 2023',
 'AtlÃ©tico Madrid 2019 ~ 2022',
 'Sevilla FC 2019 ~ 2022',
 'Athletic Club de Bilbao 2018 ~ 2022',
 'Inter 2020 ~ 2022',
 'Roma 2015 ~ 2022',
 'Al Shabab 2020 ~ 2023',
 'Inter 2018 ~ 2022',
 'Real Madrid 2007 ~ 2022',
 'Tottenham Hotspur Jun 30',
 'SL Benfica 2020 ~ 2023',
 'Inter Miami 2020 ~ 2021',
 'Los Angeles FC 2018 ~ 2022',
 'Beijing Sinobo Guoan FC 2016 ~ 2021',
 'Inter Miami 2020 ~ 2021',
 'Olympique de Marseille 2017 ~ 2024',
 'Wolverhampton Wanderers 2018 ~ 2022',
 'Milan 2020 ~ 2021',
 'Tottenham Hotspur 2020 ~ 2025',
 'SV Werder Bremen 2017 ~ 2022',
 'GrÃªmio 2019 ~ 2023',
 'GrÃªmio 2019 ~ 2023',
 'Napoli 2018 ~ 2023',
 'Tottenham Hotspur 2020 ~ 2025',
 'AtlÃ©tico Madrid 2019 ~ 2024',
 'Arsenal 2019 ~ 2024',
 'RB Leipzig 2017 ~ 2023',
 'Wolverhampton Wanderers 2017 ~ 2023',
 'Getafe CF 2018 ~ 2022',
 'Atalanta 2017 ~ 2022',
 'Real Madrid 2015 ~ 2023',
 'FC Bayern MÃ¼nchen 2019 ~ 2024',
 'Getafe CF 2017 ~ 2023',
 'TSG 1899 Hoffenheim 2015 ~ 2022',
 'LOSC Lille 2015 ~ 2022',
 'Villarreal CF 2020 ~ 2024',
 'AtlÃ©tico Madrid 2014 ~ 2024',
 'Guangzhou Evergrande Taobao FC 2019 ~ 2022',
 'RB Leipzig 2015 ~ 2022',
 'Deportivo AlavÃ©s 2015 ~ 2023',
 'Ajax 2019 ~ 2024',
 'AtlÃ©tico Madrid 2020 ~ 2024',
 'Borussia Dortmund 2020 ~ 2024',
 'Borussia MÃ¶nchengladbach 2017 ~ 2022',
 'Chelsea 2018 ~ 2024',
 'Sevilla FC 2019 ~ 2024',
 'Olympique de Marseille 2017 ~ 2021',
 'Sevilla FC 2018 ~ 2021',
 'Burnley 2016 ~ 2023',
 'Manchester United 2019 ~ 2024',
 'Bayer 04 Leverkusen 2011 ~ 2023',
 'Valencia CF 2017 ~ 2022',
 'Juventus 2020 ~ 2023',
 'FC Porto 2019 ~ 2023',
 'Paris Saint-Germain Jun 30',
 'Everton 2020 ~ 2022',
 'Leeds United 2020 ~ 2024',
 'Genoa 2018 ~ 2022',
 'FC Barcelona 2019 ~ 2023',
 'TSG 1899 Hoffenheim 2014 ~ 2023',
 'PFC CSKA Moscow 2012 ~ 2022',
 'Fulham Jun 30',
 'Ajax 2018 ~ 2022',
 'Real Betis 2018 ~ 2023',
 'Juventus 2019 ~ 2023',
 'Inter 2020 ~ 2021',
 'Shanghai SIPG FC 2019 ~ 2022',
 'FC Bayern MÃ¼nchen 2011 ~ 2021',
 'Galatasaray SK 2011 ~ 2021',
 'Inter 2015 ~ 2022',
 'Arsenal 2020 ~ 2023',
 'Villarreal CF 2014 ~ 2022',
 'Bayer 04 Leverkusen 2009 ~ 2021',
 'Olympique de Marseille 2017 ~ 2024',
 'Arsenal 2013 ~ 2021',
 'Sevilla FC 2020 ~ 2024',
 'Villarreal CF 2019 ~ 2022',
 'Juventus 2019 ~ 2021',
 'AtlÃ©tico Madrid 2019 ~ 2025',
 'AtlÃ©tico Madrid 2019 ~ 2026',
 'Bayer 04 Leverkusen 2019 ~ 2024',
 'Manchester City 2020 ~ 2025',
 'Manchester City 2020 ~ 2023',
 'Getafe CF 2020 ~ 2023',
 'West Ham United 2020 ~ 2024',
 'Lazio 2019 ~ 2024',
 'Olympique Lyonnais 2016 ~ 2023',
 'FC Bayern MÃ¼nchen 2019 ~ 2025',
 'Leeds United 2020 ~ 2024',
 'Everton 2018 ~ 2024',
 'Flamengo 2019 ~ 2023',
 'Palmeiras 2019 ~ 2023',
 'Brazil Free',
 'AtlÃ©tico Mineiro 2019 ~ 2023',
 'AtlÃ©tico Mineiro 2019 ~ 2023',
 'SÃ£o Paulo 2019 ~ 2023',
 'Brazil Free',
 'Chelsea 2020 ~ 2025',
 'Chelsea 2019 ~ 2024',
 'SD Eibar 2017 ~ 2021',
 'FC Bayern MÃ¼nchen 2019 ~ 2024',
 'Paris Saint-Germain 2015 ~ 2024',
 'Valencia CF 2018 ~ 2024',
 'AtlÃ©tico Madrid Jun 30',
 'VfL Wolfsburg 2018 ~ 2023',
 'SL Benfica 2020 ~ 2025',
 'Liverpool 2018 ~ 2023',
 'Tottenham Hotspur 2017 ~ 2024',
 'Leicester City 2018 ~ 2024',
 'Napoli Jun 30',
 'Leicester City 2019 ~ 2023',
 'Athletic Club de Bilbao 2012 ~ 2028',
 'Athletic Club de Bilbao 2018 ~ 2022',
 'River Plate 2016 ~ 2023',
 'Lazio 2018 ~ 2024',
 'OGC Nice 2016 ~ 2023',
 'AtlÃ©tico Madrid 2018 ~ 2023',
 'SL Benfica 2018 ~ 2024',
 'Olympique Lyonnais 2018 ~ 2023',
 'Wolverhampton Wanderers 2019 ~ 2023',
 'Juventus 2019 ~ 2024',
 'Manchester United 2018 ~ 2023',
 'Atalanta 2017 ~ 2021',
 'Atlanta United 2017 ~ 2023',
 'Manchester United 2014 ~ 2023',
 'Boca Juniors 2018 ~ 2023',
 'West Ham United 2019 ~ 2024',
 'Cagliari 2014 ~ 2024',
 'Chelsea 2017 ~ 2022',
 'Napoli 2016 ~ 2021',
 'Everton 2017 ~ 2024',
 'Manchester City 2017 ~ 2022',
 'AtlÃ©tico Madrid 2015 ~ 2022',
 'PSV 2020 ~ 2022',
 'Bayer 04 Leverkusen Jun 30',
 'Paris Saint-Germain 2010 ~ 2023',
 'Sevilla FC 2020 ~ 2025',
 'Borussia Dortmund 2020 ~ 2024',
 'FC Porto Jun 30',
 'Tottenham Hotspur 2020 ~ 2024',
 'Shakhtar Donetsk 2013 ~ 2023',
 'AS Monaco 2020 ~ 2024',
 'Villarreal CF 2020 ~ 2025',
 'Feyenoord 2017 ~ 2022',
 'Valencia CF 2019 ~ 2023',
 'Real Valladolid CF 2017 ~ 2022',
 'Paris Saint-Germain 2019 ~ 2024',
 'Beijing Sinobo Guoan FC 2018 ~ 2021',
 'Sporting CP 2017 ~ 2023',
 'RB Leipzig 2017 ~ 2023',
 'Liverpool 2018 ~ 2023',
 'Borussia Dortmund 2018 ~ 2022',
 'Juventus 2015 ~ 2022',
 'Chelsea 2016 ~ 2023',
 'PSV 2020 ~ 2022',
 'Boca Juniors 2019 ~ 2022',
 'Shakhtar Donetsk 2013 ~ 2021',
 'Shakhtar Donetsk 2014 ~ 2021',
 '1. FC Union Berlin 2020 ~ 2023',
 'Juventus 2015 ~ 2021',
 'FC Bayern MÃ¼nchen 2012 ~ 2021',
 'Bayer 04 Leverkusen 2017 ~ 2021',
 'FC Porto 2019 ~ 2023',
 'Club Brugge KV 2019 ~ 2025',
 'Dalian YiFang FC 2019 ~ 2021',
 'AS Saint-Ã‰tienne 2011 ~ 2021',
 'West Ham United 2018 ~ 2021',
 'Sassuolo 2014 ~ 2022',
 'Fiorentina 2019 ~ 2021',
 'AtlÃ©tico Madrid 2019 ~ 2022',
 'Tigres U.A.N.L. 2015 ~ 2021',
 'FC Porto 2019 ~ 2021',
 'Vissel Kobe 2018 ~ 2021',
 'Ecuador Free',
 'Uruguay Free',
 'Uruguay Free',
 'Uruguay Free',
 'Uruguay Free',
 'Uruguay Free',
 'Uruguay Free',
 'Uruguay Free',
 'Uruguay Free',
 'Dynamo Kyiv 2015 ~ 2023',
 'Dinamo Zagreb 2015 ~ 2023',
 'PFC CSKA Moscow 2019 ~ 2024',
 'Real Madrid 2019 ~ 2025',
 'Valencia CF 2019 ~ 2024',
 'Real Madrid 2018 ~ 2025',
 'Ajax 2017 ~ 2023',
 'Tottenham Hotspur 2019 ~ 2024',
 'Manchester United 2016 ~ 2025',
 'Chelsea 2016 ~ 2024',
 'Getafe CF 2018 ~ 2023',
 'Milan 2019 ~ 2024',
 'Real Madrid 2019 ~ 2024',
 'RB Leipzig 2019 ~ 2024',
 'Leicester City 2018 ~ 2023',
 'Athletic Club de Bilbao 2015 ~ 2025',
 'Palmeiras 2019 ~ 2023',
 'Fluminense 2019 ~ 2023',
 'Flamengo 2019 ~ 2023',
 'AtlÃ©tico Mineiro 2019 ~ 2023',
 'Bayer 04 Leverkusen 2017 ~ 2023',
 'AtlÃ©tico Madrid 2019 ~ 2024',
 'Borussia MÃ¶nchengladbach 2019 ~ 2023',
 'Athletic Club de Bilbao 2014 ~ 2026',
 'Manchester City 2016 ~ 2024',
 'Real Sociedad 2019 ~ 2023',
 'AS Monaco 2019 ~ 2024',
 'RB Leipzig 2018 ~ 2023',
 'Real Sociedad 2018 ~ 2025',
 'Liverpool 2020 ~ 2025',
 'Inter 2020 ~ 2024',
 'Olympique de Marseille 2019 ~ 2024',
 'Borussia MÃ¶nchengladbach 2019 ~ 2024',
 'Arsenal Jun 30',
 'RB Leipzig 2014 ~ 2024',
 'Napoli 2019 ~ 2024',
 'Manchester United 2017 ~ 2024',
 'RB Leipzig Jun 30',
 'Inter 2017 ~ 2022',
 'FC Bayern MÃ¼nchen 2017 ~ 2022',
 'Newcastle United 2019 ~ 2025',
 'Udinese 2018 ~ 2023',
 'River Plate 2018 ~ 2022',
 'Tottenham Hotspur 2020 ~ 2025',
 'Sporting CP Jun 30',
 'Juventus 2017 ~ 2022',
 'Bayer 04 Leverkusen 2019 ~ 2024',
 'Stade Rennais FC 2015 ~ 2023',
 'Villarreal CF 2019 ~ 2024',
 'Sassuolo 2012 ~ 2024',
 'FC Porto 2014 ~ 2021',
 'Napoli 2016 ~ 2024',
 'Real Madrid 2015 ~ 2021',
 'Torino 2015 ~ 2022',
 'Real Sociedad 2017 ~ 2022',
 'Real Betis 2018 ~ 2023',
 'Aston Villa 2012 ~ 2025',
 'Borussia MÃ¶nchengladbach 2018 ~ 2023',
 'Tottenham Hotspur 2014 ~ 2024',
 'Athletic Club de Bilbao 2018 ~ 2023',
 'Chelsea 2014 ~ 2023',
 'AtlÃ©tico Madrid 2016 ~ 2022',
 'Getafe CF 2015 ~ 2022',
 'Arsenal 2014 ~ 2023',
 'TSG 1899 Hoffenheim 2015 ~ 2023',
 'Manchester City 2016 ~ 2022',
 'Wolverhampton Wanderers 2018 ~ 2023',
 'Burnley 2016 ~ 2022',
 'VfL Wolfsburg 2018 ~ 2023',
 'Udinese Jun 30',
 'Paris Saint-Germain 2017 ~ 2021',
 'Eintracht Frankfurt 2019 ~ 2024',
 'AS Monaco 2019 ~ 2024',
 'Real Madrid 2010 ~ 2021',
 'Borussia Dortmund 2019 ~ 2024',
 'Levante UD 2016 ~ 2023',
 'Arsenal 2016 ~ 2023',
 'Brighton & Hove Albion 2017 ~ 2022',
 'Beijing Sinobo Guoan FC 2018 ~ 2021',
 'Real Betis 2018 ~ 2023',
 'Tottenham Hotspur 2017 ~ 2022',
 'Lokomotiv Moscow 2019 ~ 2022',
 'River Plate 2017 ~ 2023',
 'Southampton 2019 ~ 2022',
 'Real Sociedad 2016 ~ 2024',
 'SL Benfica 2011 ~ 2023',
 'Roma 2020 ~ 2023',
 'Villarreal CF 2008 ~ 2023',
 'Sevilla FC 2015 ~ 2021',
 'Hebei China Fortune FC Jun 30',
 'Manchester United 2017 ~ 2023',
 'LOSC Lille 2019 ~ 2023',
 'Real Sociedad 2015 ~ 2023',
 'BeÅŸiktaÅŸ JK 2019 ~ 2022',
 'Sevilla FC 2019 ~ 2023',
 'Crystal Palace 2018 ~ 2021',
 'Roma 2020 ~ 2023',
 'Shanghai SIPG FC 2017 ~ 2020',
 'Villarreal CF 2020 ~ 2024',
 'Fiorentina 2020 ~ 2022',
 'Torino 2018 ~ 2021',
 'Borussia MÃ¶nchengladbach 2015 ~ 2021',
 'FenerbahÃ§e SK 2019 ~ 2023',
 'Medipol BaÅŸakÅŸehir FK 2020 ~ 2023',
 'Inter 2020 ~ 2023',
 'Al Hilal 2019 ~ 2022',
 'Arsenal 2019 ~ 2021',
 'AtlÃ©tico Madrid 2018 ~ 2021',
 'Milan 2020 ~ 2022',
 'West Bromwich Albion 2020 ~ 2021',
 'Sporting CP 2020 ~ 2022',
 'Real Sociedad 2019 ~ 2021',
 'Borussia Dortmund 2010 ~ 2021',
 'Manchester United 2015 ~ 2021',
 'Valencia CF 2018 ~ 2022',
 'Athletic Club de Bilbao 2015 ~ 2021',
 'Tottenham Hotspur 2013 ~ 2022',
 'Leicester City 2018 ~ 2021',
 'Jiangsu Suning FC 2019 ~ 2021',
 'Galatasaray SK 2019 ~ 2022',
 'Guangzhou R&F FC 2019 ~ 2021',
 'Sampdoria 2016 ~ 2021',
 'Al Hilal 2018 ~ 2022',
 'PFC CSKA Moscow 2002 ~ 2022',
 'Orlando City SC 2019 ~ 2021',
 'Liverpool 2015 ~ 2022',
 'Real Betis 2015 ~ 2021',
 'FC Groningen 2020 ~ 2021',
 'Uruguay Free',
 'Uruguay Free',
 'Uruguay Free',
 'Uruguay Free',
 'Tottenham Hotspur Jun 30',
 'RB Leipzig 2020 ~ 2024',
 'Real Madrid 2019 ~ 2025',
 'Shakhtar Donetsk 2018 ~ 2021',
 'Stade de Reims 2019 ~ 2023',
 'Sevilla FC 2019 ~ 2024',
 'FC Barcelona 2019 ~ 2024',
 'OGC Nice 2018 ~ 2023',
 'Getafe CF 2018 ~ 2024',
 'Borussia Dortmund 2017 ~ 2022',
 'Villarreal CF 2020 ~ 2027',
 'Manchester City 2016 ~ 2024',
 'Levante UD 2017 ~ 2022',
 'Manchester United 2013 ~ 2025',
 'Olympique de Marseille 2017 ~ 2022',
 'Borussia MÃ¶nchengladbach 2017 ~ 2024',
 'Leicester City 2016 ~ 2024',
 'Chelsea 2020 ~ 2025',
 'LOSC Lille 2018 ~ 2023',
 'West Ham United 2016 ~ 2024',
 'Valencia CF 2015 ~ 2023',
 'Real Madrid 2018 ~ 2024',
 'Real Sociedad 2015 ~ 2024',
 'Real Sociedad 2019 ~ 2024',
 'PSV 2018 ~ 2023',
 'Napoli 2020 ~ 2025',
 'Atalanta 2019 ~ 2024',
 'Santos 2019 ~ 2023',
 'Internacional 2019 ~ 2023',
 'Coritiba 2019 ~ 2023',
 'Fluminense 2019 ~ 2023',
 'Palmeiras 2019 ~ 2023',
 'AtlÃ©tico Mineiro 2019 ~ 2023',
 'RB Leipzig 2017 ~ 2023',
 'SV Werder Bremen 2018 ~ 2022',
 'Eintracht Frankfurt 2020 ~ 2023',
 'OGC Nice 2019 ~ 2024',
 'CA Osasuna 2019 ~ 2023',
 'Roma 2017 ~ 2022',
 'Sheffield United 2020 ~ 2024',
 'FC Porto 2016 ~ 2021',
 'Juventus 2020 ~ 2025',
 'West Ham United 2019 ~ 2024',
 'AS Monaco 2018 ~ 2024',
 'Manchester United 2016 ~ 2022',
 'Olympique de Marseille 2018 ~ 2023',
 'Sevilla FC 2019 ~ 2023',
 'LA Galaxy Dec 31',
 'Borussia MÃ¶nchengladbach 2019 ~ 2023',
 'Real Betis 2019 ~ 2024',
 'Getafe CF 2018 ~ 2021',
 'Al Nassr 2018 ~ 2025',
 'Tottenham Hotspur 2014 ~ 2024',
 'SL Benfica 2020 ~ 2024',
 'Everton 2016 ~ 2025',
 'Sevilla FC 2019 ~ 2023',
 'Olympique Lyonnais 2018 ~ 2022',
 'Real Sociedad 2014 ~ 2023',
 'Milan 2020 ~ 2025',
 'Napoli Jun 30',
 'SC Freiburg 2020 ~ 2025',
 'Stade Rennais FC 2017 ~ 2023',
 'Olympique Lyonnais 2018 ~ 2024',
 'SC Braga 2017 ~ 2023',
 'Levante UD 2011 ~ 2021',
 'Athletic Club de Bilbao 2018 ~ 2022',
 'Torino 2018 ~ 2024',
 'Leicester City 2019 ~ 2023',
 'River Plate 2015 ~ 2022',
 'Olympique de Marseille 2019 ~ 2023',
 'Colombia Free',
 'Atalanta 2020 ~ 2025',
 'Boca Juniors 2016 ~ 2023',
 'Wolverhampton Wanderers 2018 ~ 2023',
 'Al Nassr 2018 ~ 2022',
 'Chelsea 2013 ~ 2022',
 'SC Braga 2017 ~ 2024',
 'Bayer 04 Leverkusen 2015 ~ 2023',
 'Olympiacos CFP 2019 ~ 2023',
 'PSV 2020 ~ 2024',
 'Everton 2019 ~ 2024',
 'Atalanta 2018 ~ 2023',
 'Borussia MÃ¶nchengladbach Jun 30',
 'CA Osasuna 2018 ~ 2024',
 'Olympique de Marseille 2017 ~ 2022',
 'Chelsea 2018 ~ 2022',
 'VfL Wolfsburg 2019 ~ 2023',
 'Milan 2018 ~ 2023',
 'Granada CF 2017 ~ 2021',
 'Manchester City 2020 ~ 2025',
 'FC Schalke 04 2018 ~ 2022',
 'TSG 1899 Hoffenheim 2020 ~ 2024',
 'RB Leipzig 2015 ~ 2022',
 'SL Benfica 2018 ~ 2024',
 'Milan 2017 ~ 2021',
 'SC Braga 2014 ~ 2023',
 'Newcastle United 2020 ~ 2025',
 'Paris Saint-Germain 2019 ~ 2023',
 'VfL Wolfsburg 2011 ~ 2022',
 'Shakhtar Donetsk 2010 ~ 2022',
 'Crystal Palace 2017 ~ 2023',
 'Southampton 2011 ~ 2025',
 'RB Leipzig 2015 ~ 2022',
 'Napoli 2018 ~ 2025',
 'RC Strasbourg Alsace 2017 ~ 2021',
 'Toronto FC 2019 ~ 2020',
 'Al Hilal 2019 ~ 2023',
 'Olympique de Marseille 2020 ~ 2023',
 'Hertha BSC 2020 ~ 2024',
 'Beijing Sinobo Guoan FC 2020 ~ 2022',
 'Wolverhampton Wanderers 2015 ~ 2025',
 'FC Schalke 04 2018 ~ 2022',
 'Roma 2019 ~ 2024',
 'Valencia CF 2018 ~ 2022',
 'Napoli 2014 ~ 2022',
 'Paris Saint-Germain 2020 ~ 2023',
 'Real Betis 2016 ~ 2021',
 'AZ Alkmaar 2017 ~ 2022',
 'AtlÃ©tico Madrid 2017 ~ 2022',
 'RC Strasbourg Alsace 2018 ~ 2024',
 'Athletic Club de Bilbao 2019 ~ 2022',
 'Deportivo AlavÃ©s 2019 ~ 2022',
 'Juventus 2019 ~ 2024',
 'Cagliari 2014 ~ 2023',
 'Atalanta 2019 ~ 2024',
 'Liverpool 2017 ~ 2023',
 'Seattle Sounders FC 2016 ~ 2021',
 'Montpellier HSC 2019 ~ 2023',
 'Sevilla FC 2019 ~ 2023',
 'Villarreal CF 2010 ~ 2021',
 'Guangzhou Evergrande Taobao FC 2019 ~ 2022',
 'Real Valladolid CF 2020 ~ 2022',
 'SL Benfica 2020 ~ 2023',
 'Paris Saint-Germain 2019 ~ 2024',
 'Shanghai Greenland Shenhua FC 2019 ~ 2022',
 'SD Eibar 2017 ~ 2022',
 'Roma 2020 ~ 2023',
 'Burnley 2012 ~ 2021',
 'Villarreal CF 2019 ~ 2023',
 'Sassuolo 2019 ~ 2022',
 'Jiangsu Suning FC 2016 ~ 2020',
 'Stade Rennais FC 2020 ~ 2021',
 'Russia Free',
 'Olympiacos CFP 2020 ~ 2023',
 'Hamburger SV 2020 ~ 2023',
 'Girona FC 2017 ~ 2023',
 'Galatasaray SK 2017 ~ 2022',
 'Everton 2017 ~ 2022',
 'FenerbahÃ§e SK 2020 ~ 2022',
 'Lazio 2014 ~ 2021',
 'Tottenham Hotspur 2016 ~ 2023',
 'Al Nassr 2018 ~ 2021',
 'Real Betis 2018 ~ 2022',
 'Lokomotiv Moscow 2012 ~ 2021',
 'Everton 2009 ~ 2022',
 'Chelsea 2018 ~ 2021',
 'Sporting CP 2020 ~ 2022',
 'Jiangsu Suning FC 2018 ~ 2021',
 'Manchester United 2014 ~ 2021',
 'Getafe CF 2017 ~ 2021',
 'Olympiacos CFP 2019 ~ 2021',
 'Racing Club 2018 ~ 2021',
 'Tigres U.A.N.L. 2014 ~ 2021',
 'Valencia CF 2018 ~ 2021',
 'Napoli 2019 ~ 2022',
 'SD Eibar 2016 ~ 2021',
 'Arsenal 2018 ~ 2021',
 'Portland Timbers 2013 ~ 2021',
 'Tottenham Hotspur 2007 ~ 2021',
 'Olympiacos CFP 2020 ~ 2022',
 'FC Girondins de Bordeaux 2019 ~ 2024',
 'Watford 2018 ~ 2022',
 'FC Girondins de Bordeaux 2017 ~ 2022',

In [89]:
df.head(5)

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,â†“OVA,POT,Team & Contract,ID,Height,Weight,foot,BOV,BP,Growth,Joined,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Month,Day,Year
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,FC Barcelona 2004 ~ 2021,158023,5.70,159,Left,93,RW,0,"Jul 1, 2004",NaN,67500000.0,560,â‚¬138.4M,429,85,95,70,91,88,470,96,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8,2231,466,4 â˜…,4â˜…,Medium,Low,5 â˜…,85,92,91,95,38,65,\n372,Jul,1,2004
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,Juventus 2018 ~ 2022,20801,6.20,183,Right,92,ST,0,"Jul 10, 2018",NaN,46000000.0,220,â‚¬75.9M,437,84,95,90,82,86,414,88,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11,2221,464,4 â˜…,5â˜…,High,Low,5 â˜…,89,93,81,89,35,77,\n344,Jul,10,2018
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,AtlÃ©tico Madrid 2014 ~ 2023,200389,6.20,192,Right,91,GK,2,"Jul 16, 2014",NaN,75000000.0,125,â‚¬159.4M,95,13,11,15,43,13,109,12,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90,1413,489,3 â˜…,1â˜…,Medium,Medium,3 â˜…,87,92,78,90,52,90,\n86,Jul,16,2014
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,Manchester City 2015 ~ 2023,192985,5.11,154,Right,91,CAM,0,"Aug 30, 2015",NaN,87000000.0,370,â‚¬161M,407,94,82,55,94,82,441,88,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13,5,10,13,2304,485,5 â˜…,4â˜…,High,High,4 â˜…,76,86,93,88,64,78,\n163,Aug,30,2015
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,Paris Saint-Germain 2017 ~ 2022,190871,5.90,150,Right,91,LW,0,"Aug 3, 2017",NaN,90000000.0,270,â‚¬166.5M,408,85,87,62,87,87,448,95,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9,15,15,11,2175,451,5 â˜…,5â˜…,High,Medium,5 â˜…,91,85,86,94,36,59,\n273,Aug,3,2017