## Kaggle API

In [93]:
# import kaggle
# kaggle.api.authenticate()

In [94]:
# kaggle.api.dataset_download_files('yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring', path="/home/hp", unzip=True)

In [95]:
import pandas as pd 
pd.set_option('display.max_columns', None)

In [96]:
df = pd.read_csv('/home/hp/fifa21_raw_data.csv')

/tmp/ipykernel_12770/2697469780.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/hp/fifa21_raw_data.csv')

In [97]:
df['Height'].head(10)

0     5'7"
1     6'2"
2     6'2"
3    5'11"
4     5'9"
5     6'0"
6    5'10"
7     6'3"
8     5'9"
9     5'9"
Name: Height, dtype: object

In [98]:
# we notice that the Height and the weight columns is object data type 
df[['Height', 'Weight']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  18979 non-null  object
 1   Weight  18979 non-null  object
dtypes: object(2)
memory usage: 296.7+ KB

In [99]:
# pd.DataFrame(df[['Height', 'Weight']])
# check if there is a duplicated value 
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
18974    False
18975    False
18976    False
18977    False
18978    False
Length: 18979, dtype: bool

In [100]:
# check the data type of each columns and try to covert them into the right data type if there is a misstyping 

df[['Height']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  18979 non-null  object
dtypes: object(1)
memory usage: 148.4+ KB

In [101]:
df[['Height', 'Weight']].head(10)

  Height  Weight
0   5'7"  159lbs
1   6'2"  183lbs
2   6'2"  192lbs
3  5'11"  154lbs
4   5'9"  150lbs
5   6'0"  176lbs
6  5'10"  161lbs
7   6'3"  201lbs
8   5'9"  157lbs
9   5'9"  152lbs

In [102]:
# # transform Height columns into float data types 
# for i in df['Height']:
#     df['Height'] = i.replace("'", ".").replace('"', "")
df['Height'] = [i.replace("'", ".").replace('"', "") for i in df['Height']]

In [103]:
# check if we acheive the right results
df[["Height"]]

      Height
0        5.7
1        6.2
2        6.2
3       5.11
4        5.9
...      ...
18974   5.10
18975    5.7
18976   5.10
18977    5.9
18978    5.9

[18979 rows x 1 columns]

In [104]:
df['Height'] = df['Height'].astype(float)

In [105]:
df['Weight']

0        159lbs
1        183lbs
2        192lbs
3        154lbs
4        150lbs
          ...
18974    154lbs
18975    128lbs
18976    146lbs
18977    143lbs
18978    150lbs
Name: Weight, Length: 18979, dtype: object

In [106]:
# repace the Weight columns with right data types 
df['Weight'] = df['Weight'].str.replace("lbs", "").astype(int)

In [107]:
df[['Height', 'Weight']]

       Height  Weight
0        5.70     159
1        6.20     183
2        6.20     192
3        5.11     154
4        5.90     150
...       ...     ...
18974    5.10     154
18975    5.70     128
18976    5.10     146
18977    5.90     143
18978    5.90     150

[18979 rows x 2 columns]

In [108]:
# check if its the proper data type 
df[['Weight']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Weight  18979 non-null  int64
dtypes: int64(1)
memory usage: 148.4 KB

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   â†“OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  float64
 12  Weight            18979 non-null  int64
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: float64(1), int64(56), object(20)
memory usage: 11.1+ MB

In [110]:
df['Height'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 18979 entries, 0 to 18978
Series name: Height
Non-Null Count  Dtype
--------------  -----
18979 non-null  float64
dtypes: float64(1)
memory usage: 148.4 KB

# separate Joined columns into month, year and days

In [111]:
df[["Joined"]]

             Joined
0       Jul 1, 2004
1      Jul 10, 2018
2      Jul 16, 2014
3      Aug 30, 2015
4       Aug 3, 2017
...             ...
18974   Aug 1, 2020
18975   Aug 1, 2020
18976  Jul 13, 2018
18977   Aug 1, 2020
18978   Jan 1, 2020

[18979 rows x 1 columns]

In [112]:
# for i in df["Joined"]:
#     month, day, year = i.split()
    
# df['Month'] = [i for i in month]
# df['Day'] = [i for i in day]
# df['Year'] = [i for i in year]
df['Month'] = [i.split()[0] for i in df['Joined']]
df['Day'] = [i.split()[1].replace(",", "") for i in df['Joined']]
df['Year'] = [i.split()[2] for i in df['Joined']]

In [113]:
df[['Day', 'Year']] = df[['Day', 'Year']].astype(int)

In [114]:
df[['Day', 'Year', 'Month']].head(10)

   Day  Year Month
0    1  2004   Jul
1   10  2018   Jul
2   16  2014   Jul
3   30  2015   Aug
4    3  2017   Aug
5    1  2014   Jul
6    1  2018   Jul
7   19  2018   Jul
8    1  2017   Jul
9    1  2016   Jul

In [115]:
df[['Day', 'Year']] = df[['Day', 'Year']].astype(int)

In [116]:
df[['Day', 'Year']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     18979 non-null  int64
 1   Year    18979 non-null  int64
dtypes: int64(2)
memory usage: 296.7 KB

In [117]:
#  check if we reash the results 
df[['Day', 'Year']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     18979 non-null  int64
 1   Year    18979 non-null  int64
dtypes: int64(2)
memory usage: 296.7 KB

## Clean and transform the value, wage and release clause columns of int

In [118]:
df[['Wage', 'Value']].head(10)

    Wage    Value
0  â‚¬560K   â‚¬67.5M
1  â‚¬220K     â‚¬46M
2  â‚¬125K     â‚¬75M
3  â‚¬370K     â‚¬87M
4  â‚¬270K     â‚¬90M
5  â‚¬240K     â‚¬80M
6  â‚¬160K  â‚¬105.5M
7  â‚¬160K   â‚¬62.5M
8  â‚¬250K     â‚¬78M
9  â‚¬250K     â‚¬78M

In [119]:
df['Wage'] = [i.replace("K", "").replace("â‚¬", "") for i in df['Wage']]

In [120]:
df['Wage'] = df['Wage'].astype(int)

In [121]:
df[['Wage']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Wage    18979 non-null  int64
dtypes: int64(1)
memory usage: 148.4 KB

In [122]:
df[['Wage']].head(5)

   Wage
0   560
1   220
2   125
3   370
4   270

In [123]:
# # # for i in df['Wage']:
# # #     df['Wage'] = int(i.replace("â‚¬", "").replace("K", "")) * 1_000
# # #     pass

# # df['Wage'] = [i.replace("â‚¬", "").replace("K", "") for i in df['Wage'] * 1_000]
# # df['Value'] = [i.replace("â‚¬", "").replace("M", "") for i in df['Value']]
# for i in df['Value']:
#     check_for_val = i.find("K")
#     count = 1
#     result = 1
#     while (check_for_val != -1):
#         count += 1
#         result += 1
# print(f"the sum of all M words are {result}")
# for i in df['Value']:
#     m_val = i.find('K')
#     if m_val == -1:
#         df['Value'] = i.replace("â‚¬", "").replace("M", "")
#     elif m_val:
#         df['Value'] = i.replace("â‚¬", "").replace("K", "")
        
# df['Value'] = [i.replace("M", "").replace("â‚¬", "") for i in df['Value'] if i.find("K") == -1]
# df['Value'] = [i.replace("M", "").replace("â‚¬", "") for i in [j.replae("â‚¬","").replace("K", "") for j in df['Value'] if j.find("K")] if i.find("K") == -1]
df['Value'] = [
    float(i.replace("M", "")) * 1_000_000 if "M" in i else float(i.replace("K", "")) * 1_000
    for i in df['Value'].str.replace("â‚¬", "")
]

In [124]:
df[['Value', 'Wage']]

            Value  Wage
0      67500000.0   560
1      46000000.0   220
2      75000000.0   125
3      87000000.0   370
4      90000000.0   270
...           ...   ...
18974     35000.0     1
18975     60000.0   500
18976     40000.0     1
18977     60000.0   500
18978     60000.0   500

[18979 rows x 2 columns]

In [125]:
# for i in df['Value']:
#     print(i)

df[['Wage', 'Value']]

       Wage       Value
0       560  67500000.0
1       220  46000000.0
2       125  75000000.0
3       370  87000000.0
4       270  90000000.0
...     ...         ...
18974     1     35000.0
18975   500     60000.0
18976     1     40000.0
18977   500     60000.0
18978   500     60000.0

[18979 rows x 2 columns]

In [126]:
df[['Wage', 'Value']].head()

   Wage       Value
0   560  67500000.0
1   220  46000000.0
2   125  75000000.0
3   370  87000000.0
4   270  90000000.0

## separate Team & Contract into a single columns

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 80 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   â†“OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  float64
 12  Weight            18979 non-null  int64
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  float64
 20  Wage              18979 non-null  int64
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
 77  Month             18979 non-null  object
 78  Day               18979 non-null  int64
 79  Year              18979 non-null  int64
dtypes: float64(2), int64(59), object(19)
memory usage: 11.6+ MB

In [128]:
# for i in df['Team & Contract']:
#     print(i.split())
#     pass
# df[['Team & Contract']].head(5)
# df[['Name', 'Shot Power', 'Mentality', 'Finishing', 'Age']].head(10)
df[['Team & Contract']].head(10)
df['Team & Contract'] = [i.strip() for i in df['Team & Contract']]

## Remove Excessive Newline Characters from the Team & Contract Data

In [129]:
df['Team & Contract'] = [i.replace("\n", " ") for i in df['Team & Contract']]

In [130]:
df[['Team & Contract']].head(10)

                   Team & Contract
0         FC Barcelona 2004 ~ 2021
1             Juventus 2018 ~ 2022
2      AtlÃ©tico Madrid 2014 ~ 2023
3      Manchester City 2015 ~ 2023
4  Paris Saint-Germain 2017 ~ 2022
5    FC Bayern MÃ¼nchen 2014 ~ 2023
6  Paris Saint-Germain 2018 ~ 2022
7            Liverpool 2018 ~ 2024
8            Liverpool 2017 ~ 2023
9            Liverpool 2016 ~ 2023

In [131]:
# [i.rsplit(",", 2)[0] for i in df['Team & Contract']]

In [132]:
df.head(5)

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,â†“OVA,POT,Team & Contract,ID,Height,Weight,foot,BOV,BP,Growth,Joined,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Month,Day,Year
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,FC Barcelona 2004 ~ 2021,158023,5.70,159,Left,93,RW,0,"Jul 1, 2004",NaN,67500000.0,560,â‚¬138.4M,429,85,95,70,91,88,470,96,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8,2231,466,4 â˜…,4â˜…,Medium,Low,5 â˜…,85,92,91,95,38,65,\n372,Jul,1,2004
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,Juventus 2018 ~ 2022,20801,6.20,183,Right,92,ST,0,"Jul 10, 2018",NaN,46000000.0,220,â‚¬75.9M,437,84,95,90,82,86,414,88,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11,2221,464,4 â˜…,5â˜…,High,Low,5 â˜…,89,93,81,89,35,77,\n344,Jul,10,2018
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,AtlÃ©tico Madrid 2014 ~ 2023,200389,6.20,192,Right,91,GK,2,"Jul 16, 2014",NaN,75000000.0,125,â‚¬159.4M,95,13,11,15,43,13,109,12,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90,1413,489,3 â˜…,1â˜…,Medium,Medium,3 â˜…,87,92,78,90,52,90,\n86,Jul,16,2014
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,Manchester City 2015 ~ 2023,192985,5.11,154,Right,91,CAM,0,"Aug 30, 2015",NaN,87000000.0,370,â‚¬161M,407,94,82,55,94,82,441,88,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13,5,10,13,2304,485,5 â˜…,4â˜…,High,High,4 â˜…,76,86,93,88,64,78,\n163,Aug,30,2015
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,Paris Saint-Germain 2017 ~ 2022,190871,5.90,150,Right,91,LW,0,"Aug 3, 2017",NaN,90000000.0,270,â‚¬166.5M,408,85,87,62,87,87,448,95,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9,15,15,11,2175,451,5 â˜…,5â˜…,High,Medium,5 â˜…,91,85,86,94,36,59,\n273,Aug,3,2017

In [133]:
empty_list = []
for i in df['Team & Contract']:
    empty_list.append(i)

In [134]:
import re

In [135]:
print(dir(re))

['A', 'ASCII', 'DEBUG', 'DOTALL', 'I', 'IGNORECASE', 'L', 'LOCALE', 'M', 'MULTILINE', 'Match', 'Pattern', 'RegexFlag', 'S', 'Scanner', 'T', 'TEMPLATE', 'U', 'UNICODE', 'VERBOSE', 'X', '_MAXCACHE', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_cache', '_compile', '_compile_repl', '_expand', '_locale', '_pickle', '_special_chars_map', '_subx', 'compile', 'copyreg', 'enum', 'error', 'escape', 'findall', 'finditer', 'fullmatch', 'functools', 'match', 'purge', 'search', 'split', 'sre_compile', 'sre_parse', 'sub', 'subn', 'template']

In [136]:
# for i in range(0, len(empty_list)):
#     print(empty_list[0])
test_list = []
for i in range(0, len(empty_list)):
    if len(test_list) == 10:
        break
    test_list.append(empty_list[i])
# print(len(test_list))

In [137]:
print(test_list)

['FC Barcelona 2004 ~ 2021', 'Juventus 2018 ~ 2022', 'AtlÃ©tico Madrid 2014 ~ 2023', 'Manchester City 2015 ~ 2023', 'Paris Saint-Germain 2017 ~ 2022', 'FC Bayern MÃ¼nchen 2014 ~ 2023', 'Paris Saint-Germain 2018 ~ 2022', 'Liverpool 2018 ~ 2024', 'Liverpool 2017 ~ 2023', 'Liverpool 2016 ~ 2023']

## separate team and contract columns using Reagex to parse the string

In [138]:
# for i in test_list:
#     new = []
#     rege = '\d+\s~\s\d+'
#     patt = re.search(rege, i).group()
#     new.append(patt)
    
    # print(i)
# df['Team'] = [re.search('\d+\s~\s\d+',i).group() for i in df['Team & Contract']]
# def extract_contract(text):
#     match = re.match(r'^[^\d]+', text)
#     return match.group().strip() if match else ''

# df['Contract'] = df['Team & Contract'].apply(extract_contract)

df['Contract'] = [
    re.search(r'\d+\s~\s\d+', i).group() if re.search(r'\d+\s~\s\d+', i) else ''
    for i in df['Team & Contract']
]

In [139]:
df['Team'] = [
    re.search(r'^[^\d]+', i).group() if re.search(r'^[^\d]+', i) else ''
    for i in df['Team & Contract']
]

## Remove new line characters from the Hits columns

In [140]:
# dipsplay the Hits columns to have an idea about its content 
df[['Hits']].head(20)

     Hits
0   \n372
1   \n344
2    \n86
3   \n163
4   \n273
5   \n182
6   \n646
7    \n79
8   \n164
9   \n170
10  \n170
11   \n93
12  \n131
13   \n89
14   \n90
15  \n169
16  \n187
17  \n103
18  \n169
19  \n317

In [141]:
# df['Hits'] = [i.replace("\n", "") for i in df['Hits']]
# for i in df['Hits']:
#     print(i.replace("\n", ""))
df['Hits'] = [str(i).replace("\n", "") for i in df['Hits']]

In [142]:
df['Hits'] = df['Hits'].replace({'K': '*1000'}, regex=True)

In [143]:
df['Hits'] = df['Hits'].apply(pd.eval).astype(int)

In [144]:
df[['Hits']].head(100)

    Hits
0    372
1    344
2     86
3    163
4    273
..   ...
95   112
96    77
97   106
98    84
99  1300

[100 rows x 1 columns]

In [145]:
df[['Hits']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hits    18979 non-null  int64
dtypes: int64(1)
memory usage: 148.4 KB

## clean and transform Release clause columns into an int

In [146]:
# df[['Release Clause']].head(100
# df[['Release Clause']].head(20)
df['Release Clause'] = [i.replace("â‚¬", "").replace("M", "").replace("K", "") for i in df['Release Clause']]

In [147]:
# round all the float values int an integer
df['Release Clause'] = df['Release Clause'].astype(str)
# df['Release Clause'] = df['Release Clause'].round().astype(int)

In [148]:
df[['Release Clause']]

      Release Clause
0              138.4
1               75.9
2              159.4
3                161
4              166.5
...              ...
18974             57
18975            165
18976             70
18977            165
18978            167

[18979 rows x 1 columns]

In [149]:
df['Release Clause'] = pd.to_numeric(df['Release Clause'], errors='coerce')

In [151]:
df[['Release Clause']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Release Clause  18979 non-null  float64
dtypes: float64(1)
memory usage: 148.4 KB

In [152]:
df['Release Clause'] = df['Release Clause'].astype(int)

In [ ]:
df[['Release Clause']]