## Kaggle API

In [1]:
import kaggle
kaggle.api.authenticate()

In [7]:
kaggle.api.dataset_download_files('yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring', path="/home/hp", unzip=True)

Dataset URL: https://www.kaggle.com/datasets/yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring

In [19]:
import pandas as pd 
pd.set_option('display.max_columns', None)

In [20]:
df = pd.read_csv('/home/hp/fifa21_raw_data.csv')

/tmp/ipykernel_30325/2697469780.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/hp/fifa21_raw_data.csv')

In [21]:
df['Height'].head(10)

0     5'7"
1     6'2"
2     6'2"
3    5'11"
4     5'9"
5     6'0"
6    5'10"
7     6'3"
8     5'9"
9     5'9"
Name: Height, dtype: object

In [22]:
# we notice that the Height and the weight columns is object data type 
df[['Height', 'Weight']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  18979 non-null  object
 1   Weight  18979 non-null  object
dtypes: object(2)
memory usage: 296.7+ KB

In [23]:
# pd.DataFrame(df[['Height', 'Weight']])
# check if there is a duplicated value 
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
18974    False
18975    False
18976    False
18977    False
18978    False
Length: 18979, dtype: bool

In [24]:
df['Height'].dtype

dtype('O')

In [25]:
# check the data type of each columns and try to covert them into the right data type if there is a misstyping 

df[['Height']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  18979 non-null  object
dtypes: object(1)
memory usage: 148.4+ KB

In [26]:
df[['Height', 'Weight']]

      Height  Weight
0       5'7"  159lbs
1       6'2"  183lbs
2       6'2"  192lbs
3      5'11"  154lbs
4       5'9"  150lbs
...      ...     ...
18974  5'10"  154lbs
18975   5'7"  128lbs
18976  5'10"  146lbs
18977   5'9"  143lbs
18978   5'9"  150lbs

[18979 rows x 2 columns]

In [27]:
# transform Height columns into float data types 
for i in df['Height']:
    df['Height'] = i.replace("'", ".").replace('"', "")

In [28]:
# check if we acheive the right results
df[["Height"]]

      Height
0        5.9
1        5.9
2        5.9
3        5.9
4        5.9
...      ...
18974    5.9
18975    5.9
18976    5.9
18977    5.9
18978    5.9

[18979 rows x 1 columns]

In [29]:
df['Height'] = df['Height'].astype(float)

In [30]:
df['Weight']

0        159lbs
1        183lbs
2        192lbs
3        154lbs
4        150lbs
          ...
18974    154lbs
18975    128lbs
18976    146lbs
18977    143lbs
18978    150lbs
Name: Weight, Length: 18979, dtype: object

In [31]:
# repace the Weight columns with right data types 
df['Weight'] = df['Weight'].str.replace("lbs", "").astype(int)

In [32]:
df[['Height', 'Weight']]

       Height  Weight
0         5.9     159
1         5.9     183
2         5.9     192
3         5.9     154
4         5.9     150
...       ...     ...
18974     5.9     154
18975     5.9     128
18976     5.9     146
18977     5.9     143
18978     5.9     150

[18979 rows x 2 columns]

In [33]:
# check if its the proper data type 
df[['Weight']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Weight  18979 non-null  int64
dtypes: int64(1)
memory usage: 148.4 KB

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  float64
 12  Weight            18979 non-null  int64
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: float64(1), int64(56), object(20)
memory usage: 11.1+ MB

In [35]:
df['Height'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 18979 entries, 0 to 18978
Series name: Height
Non-Null Count  Dtype
--------------  -----
18979 non-null  float64
dtypes: float64(1)
memory usage: 148.4 KB

# separate Joined columns into month, year and days

In [36]:
df[["Joined"]]

             Joined
0       Jul 1, 2004
1      Jul 10, 2018
2      Jul 16, 2014
3      Aug 30, 2015
4       Aug 3, 2017
...             ...
18974   Aug 1, 2020
18975   Aug 1, 2020
18976  Jul 13, 2018
18977   Aug 1, 2020
18978   Jan 1, 2020

[18979 rows x 1 columns]

In [38]:
for i in df["Joined"]:
    month, day, year = i.split()
    df['Month'] = month.replace(",", "")
    df['Day'] = day.replace(",", "")
    df['Year'] = year.replace(",", "")

In [44]:
df[['Day', 'Year']] = df[['Day', 'Year']].astype(int)

In [45]:
df[['Day', 'Year']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     18979 non-null  int64
 1   Year    18979 non-null  int64
dtypes: int64(2)
memory usage: 296.7 KB

In [46]:
df.head().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 80 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          5 non-null      object
 1   LongName          5 non-null      object
 2   playerUrl         5 non-null      object
 3   Nationality       5 non-null      object
 4   Positions         5 non-null      object
 5   Name              5 non-null      object
 6   Age               5 non-null      int64
 7   ↓OVA              5 non-null      int64
 8   POT               5 non-null      int64
 9   Team & Contract   5 non-null      object
 10  ID                5 non-null      int64
 11  Height            5 non-null      float64
 12  Weight            5 non-null      int64
 13  foot              5 non-null      object
 14  BOV               5 non-null      int64
 15  BP                5 non-null      object
 16  Growth            5 non-null      int64
 17  Joined            5 non-null      object
 18  Loan Date End     0 non-null      object
 19  Value             5 non-null      object
 20  Wage              5 non-null      object
 21  Release Clause    5 non-null      object
 22  Attacking         5 non-null      int64
 23  Crossing          5 non-null      int64
 24  Finishing         5 non-null      int64
 25  Heading Accuracy  5 non-null      int64
 26  Short Passing     5 non-null      int64
 27  Volleys           5 non-null      int64
 28  Skill             5 non-null      int64
 29  Dribbling         5 non-null      int64
 30  Curve             5 non-null      int64
 31  FK Accuracy       5 non-null      int64
 32  Long Passing      5 non-null      int64
 33  Ball Control      5 non-null      int64
 34  Movement          5 non-null      int64
 35  Acceleration      5 non-null      int64
 36  Sprint Speed      5 non-null      int64
 37  Agility           5 non-null      int64
 38  Reactions         5 non-null      int64
 39  Balance           5 non-null      int64
 40  Power             5 non-null      int64
 41  Shot Power        5 non-null      int64
 42  Jumping           5 non-null      int64
 43  Stamina           5 non-null      int64
 44  Strength          5 non-null      int64
 45  Long Shots        5 non-null      int64
 46  Mentality         5 non-null      int64
 47  Aggression        5 non-null      int64
 48  Interceptions     5 non-null      int64
 49  Positioning       5 non-null      int64
 50  Vision            5 non-null      int64
 51  Penalties         5 non-null      int64
 52  Composure         5 non-null      int64
 53  Defending         5 non-null      int64
 54  Marking           5 non-null      int64
 55  Standing Tackle   5 non-null      int64
 56  Sliding Tackle    5 non-null      int64
 57  Goalkeeping       5 non-null      int64
 58  GK Diving         5 non-null      int64
 59  GK Handling       5 non-null      int64
 60  GK Kicking        5 non-null      int64
 61  GK Positioning    5 non-null      int64
 62  GK Reflexes       5 non-null      int64
 63  Total Stats       5 non-null      int64
 64  Base Stats        5 non-null      int64
 65  W/F               5 non-null      object
 66  SM                5 non-null      object
 67  A/W               5 non-null      object
 68  D/W               5 non-null      object
 69  IR                5 non-null      object
 70  PAC               5 non-null      int64
 71  SHO               5 non-null      int64
 72  PAS               5 non-null      int64
 73  DRI               5 non-null      int64
 74  DEF               5 non-null      int64
 75  PHY               5 non-null      int64
 76  Hits              5 non-null      object
 77  Month             5 non-null      object
 78  Day               5 non-null      int64
 79  Year              5 non-null      int64
dtypes: float64(1), int64(58), object(21)
memory usage: 3.2+ KB