## Kaggle API

In [1]:
import kaggle
kaggle.api.authenticate()

In [7]:
kaggle.api.dataset_download_files('yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring', path="/home/hp", unzip=True)

Dataset URL: https://www.kaggle.com/datasets/yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring

In [124]:
import pandas as pd 
pd.set_option('display.max_columns', None)

In [125]:
df = pd.read_csv('/home/hp/fifa21_raw_data.csv')

/tmp/ipykernel_30325/2697469780.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/hp/fifa21_raw_data.csv')

In [126]:
df['Height'].head(10)

0     5'7"
1     6'2"
2     6'2"
3    5'11"
4     5'9"
5     6'0"
6    5'10"
7     6'3"
8     5'9"
9     5'9"
Name: Height, dtype: object

In [127]:
# we notice that the Height and the weight columns is object data type 
df[['Height', 'Weight']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  18979 non-null  object
 1   Weight  18979 non-null  object
dtypes: object(2)
memory usage: 296.7+ KB

In [128]:
# pd.DataFrame(df[['Height', 'Weight']])
# check if there is a duplicated value 
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
18974    False
18975    False
18976    False
18977    False
18978    False
Length: 18979, dtype: bool

In [120]:
# check the data type of each columns and try to covert them into the right data type if there is a misstyping 

df[['Height']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  18979 non-null  object
dtypes: object(1)
memory usage: 148.4+ KB

In [130]:
df[['Height', 'Weight']].head(10)

  Height  Weight
0   5'7"  159lbs
1   6'2"  183lbs
2   6'2"  192lbs
3  5'11"  154lbs
4   5'9"  150lbs
5   6'0"  176lbs
6  5'10"  161lbs
7   6'3"  201lbs
8   5'9"  157lbs
9   5'9"  152lbs

In [131]:
# # transform Height columns into float data types 
# for i in df['Height']:
#     df['Height'] = i.replace("'", ".").replace('"', "")
df['Height'] = [i.replace("'", ".").replace('"', "") for i in df['Height']]

In [132]:
# check if we acheive the right results
df[["Height"]]

      Height
0        5.7
1        6.2
2        6.2
3       5.11
4        5.9
...      ...
18974   5.10
18975    5.7
18976   5.10
18977    5.9
18978    5.9

[18979 rows x 1 columns]

In [133]:
df['Height'] = df['Height'].astype(float)

In [134]:
df['Weight']

0        159lbs
1        183lbs
2        192lbs
3        154lbs
4        150lbs
          ...
18974    154lbs
18975    128lbs
18976    146lbs
18977    143lbs
18978    150lbs
Name: Weight, Length: 18979, dtype: object

In [135]:
# repace the Weight columns with right data types 
df['Weight'] = df['Weight'].str.replace("lbs", "").astype(int)

In [136]:
df[['Height', 'Weight']]

       Height  Weight
0        5.70     159
1        6.20     183
2        6.20     192
3        5.11     154
4        5.90     150
...       ...     ...
18974    5.10     154
18975    5.70     128
18976    5.10     146
18977    5.90     143
18978    5.90     150

[18979 rows x 2 columns]

In [137]:
# check if its the proper data type 
df[['Weight']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Weight  18979 non-null  int64
dtypes: int64(1)
memory usage: 148.4 KB

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  float64
 12  Weight            18979 non-null  int64
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: float64(1), int64(56), object(20)
memory usage: 11.1+ MB

In [139]:
df['Height'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 18979 entries, 0 to 18978
Series name: Height
Non-Null Count  Dtype
--------------  -----
18979 non-null  float64
dtypes: float64(1)
memory usage: 148.4 KB

# separate Joined columns into month, year and days

In [140]:
df[["Joined"]]

             Joined
0       Jul 1, 2004
1      Jul 10, 2018
2      Jul 16, 2014
3      Aug 30, 2015
4       Aug 3, 2017
...             ...
18974   Aug 1, 2020
18975   Aug 1, 2020
18976  Jul 13, 2018
18977   Aug 1, 2020
18978   Jan 1, 2020

[18979 rows x 1 columns]

In [167]:
# for i in df["Joined"]:
#     month, day, year = i.split()
    
# df['Month'] = [i for i in month]
# df['Day'] = [i for i in day]
# df['Year'] = [i for i in year]
df['Month'] = [i.split()[0] for i in df['Joined']]
df['Day'] = [i.split()[1].replace(",", "") for i in df['Joined']]
df['Year'] = [i.split()[2] for i in df['Joined']]

In [168]:
df[['Day', 'Year']] = df[['Day', 'Year']].astype(int)

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 80 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  float64
 12  Weight            18979 non-null  int64
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
 77  Month             18979 non-null  object
 78  Day               18979 non-null  int64
 79  Year              18979 non-null  int64
dtypes: float64(1), int64(58), object(21)
memory usage: 11.6+ MB

In [99]:
df[['Day', 'Year']] = df[['Day', 'Year']].astype(int)

In [100]:
df[['Day', 'Year']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     18979 non-null  int64
 1   Year    18979 non-null  int64
dtypes: int64(2)
memory usage: 296.7 KB

In [173]:
#  check if we reash the results 
df[['Day', 'Year']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     18979 non-null  int64
 1   Year    18979 non-null  int64
dtypes: int64(2)
memory usage: 296.7 KB

## Clean and transform the value, wage and release clause columns of int

In [174]:
df[['Wage', 'Value']]

        Wage   Value
0      €560K  €67.5M
1      €220K    €46M
2      €125K    €75M
3      €370K    €87M
4      €270K    €90M
...      ...     ...
18974    €1K    €35K
18975   €500    €60K
18976    €1K    €40K
18977   €500    €60K
18978   €500    €60K

[18979 rows x 2 columns]

In [175]:
# for i in df['Wage']:
#     df['Wage'] = int(i.replace("€", "").replace("K", "")) * 1_000
#     pass

df['Wage'] = [i.replace("€", "").replace("K", "") for i in df['Wage']]
df['Value'] = [i.replace("€", "").replace("M", "") for i in df['Value']]

In [ ]:
df[['Wage', 'V']]